body{
    color: black;
    background: violet;
    font-family: "Roboto", sans-serif;
    margin-bottom: 100px;
}

header{
    border-bottom: solid2px red;
    padding: 20px;
    font-size: 32px;
    color: black;
}

.chamada{
    background: purple, 0, 0);
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 34px;
}